@import "tailwindcss";

:root {
  --radius: 0.625rem;
  /* Dark Theme Defaults */
  --background: oklch(0.145 0 0);     
  --foreground: oklch(0.985 0 0);    
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}
@theme {
  --sidebar-width: 256px;
  --sidebar-collapsed: 80px;
  
  /* Map your colors so Tailwind generates utilities like bg-background */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: color-mix(in srgb, var(--ring), transparent 50%);
  }
  
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  /* KILLER SELECTION COLOR */
  ::selection {
    background-color: #6366f1;
    color: white;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #09090b;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 5px;
    border: 2px solid #09090b;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}